<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <form action="<%= session_url %> " method="post">
      <label>Username:
        <input type="text" name="session[username]" value="">
      </label>
      <br>
      <label>Password:
        <input type="password" name="session[password]" value="">
      </label>
      <br>
      <input type="submit" name="" value="login!">
    </form>
    <%= yield %>
  </body>
</html>
